*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAFAFA ;
}


.insta__nav{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    border-bottom: 2px solid #EBEBEB;
}

.nav__wrapper{
    display: flex;
    justify-content: space-evenly;
    height: inherit;
    align-items: center;
}

.insta__title{
    vertical-align: middle;
    cursor: pointer;
}

.insta__search--wrapper{
    display: flex;
    justify-content: center;
    /* background-color: lawngreen; */
    padding-left: 24px;
}

.insta__options{
    display: flex;
}
.insta__options li{
    list-style-type: none;
    padding-left: 24px;
    cursor: pointer;
}

.insta__options li img{
    width: 25px;
    height: 25px;
}

.insta__you{
    border-radius: 50%;
}

.insta__search{
    background-color: #FAFAFA;
    border: 2px solid #EBEBEB;
    border-radius: 3px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    padding: 7px;
    height: 25px;
}

.insta__header{
    display: grid;
    grid-template-columns: 20% repeat(5,1fr) 20%;
    padding-top: 4em;
    /* background-color: slategrey; */
}

.header__wrapper{
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2em;
    /* background-color: teal; */
    padding-left: 10px;
}

.insta__profile{
    /* background-color: skyblue; */
    margin-right: 2em;
}


.profile__image{
    border-radius: 50%;
}

.insta__info{
    /* background-color: salmon; */
    /* padding: 0 1.2em; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.info__principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    
}

.info__user-name{
    font-weight: 300;
    font-size: 1.8em;
}

.info__edit{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    border: 2px solid #EBEBEB;
    
}

.edit__link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9em;
}

.button__settings{
    background-color: transparent;
    border: none;
}

.button__svg img{
    width: 25px;
    height: 25px;
}


.stats__list{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    width: 90%;
}

.stats__list span{
    font-weight: bold;
}

.insta__name{
    font-size: inherit;
}